<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aplicatie_Salarizare</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <section id="main-content">
        <nav id="nav-bar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Aplicatie Salarizare</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "Home")">Acasa</a>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-link text-dark dropdown-toggle" role="button" style="cursor: pointer;"
                                 data-toggle="dropdown">Introducere Date</div>
                            <div class="dropdown-menu" aria-labelledby="navbar-Dropdown">
                                <a class="dropdown-item" href="@Url.Action("Update", "Home")">Actualizare</a>
                                <a class="dropdown-item" href="@Url.Action("Insert", "Home")">Adaugare</a>
                                <a class="dropdown-item" href="@Url.Action("Delete", "Home")">Stergere</a>
<<<<<<< HEAD
=======
                                <a class="dropdown-item" href="@Url.Action("Calculate", "Home")">Calcul</a>
>>>>>>> 55cf1a321bc17485d388ed8f20d88d18a37331dd
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Reports", "Home")">Rapoarte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Percentages", "Home")">Procente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Privacy", "Home")">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="main-content-data" style="padding-left: 75px">
            @RenderBody()
        </div>
    </section>

    <footer class="border-top footer text-muted">
        <div class="row">
            <div class="col-md-3 ">
                <div class="container" style="margin-top: 25px; margin-left: 10px;">
                    &copy; 2020 - Aplicatie_Salarizare - <a asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="container">
                    <div class="slider1">

                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="container">
                    <div class="slider2">

                    </div>
                </div>
            </div>
        </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<style>
    .slider1 {
        width: 130px;
        height: 105px;
        background: url(image1.png);
        animation: slide1 20s infinite;
    }

    .slider2 {
        width: 130px;
        height: 105px;
        background: url(image5.png);
        animation: slide2 20s infinite;
    }
    @@keyframes slide1 {
        25% {
            background: url(image2.png);
        }
        50% {
            background: url(image3.png);
        }
        75% {
            background: url(image4.png)
        }
        100% {
            background: url(image1.png);
        }
    }
    @@keyframes slide2 {
        25% {
            background: url(image6.png);
        }

        50% {
            background: url(image7.png);
        }

        75% {
            background: url(image8.png)
        }

        100% {
            background: url(image5.png);
        }
    }
</style>
