@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<Aplicatie_Salarizare.Models.Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div id="main-cntn">
    <div class="text-center">
        <h2 class="display-4">Actualizare</h2>
    </div>
    <div class="row">

        <div class="col-md-3" style="margin: 0 25px 0 75px">
            <p>
                <label for="surname">Prenume</label>
                <input id="surname" name="surname" type="text" value="" class="form-control" placeholder="Introdu prenumele angajatului..." />
            </p>
        </div>

        <div class="col-md-3" style="margin: 0 50px 0 25px">
            <p>
                <label for="lastname">Nume</label>
                <input id="lastname" name="lastname" type="text" value="" class="form-control" placeholder="Introdu numele angajatului..." />
            </p>
        </div>

        <div class="col-md-3">
            <p>
                <label for="base_salary">Salariu de baza</label>
<<<<<<< HEAD
                <input id="base_salary" name="base_salary" type="number" value="" class="form-control" placeholder="salariul de baza al angajatului..." />
=======
                <input id="base_salary" name="base_salary" type="text" value="" class="form-control" placeholder="salariul de baza al angajatului..." />
>>>>>>> 55cf1a321bc17485d388ed8f20d88d18a37331dd
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="margin: 0 25px 0 75px">
            <p>
                <label for="increase">Spor</label>
<<<<<<< HEAD
                <input id="increase" name="increase" type="number" value="" class="form-control" placeholder="sporul..." />
=======
                <input id="increase" name="increase" type="text" value="" class="form-control" placeholder="sporul..." />
>>>>>>> 55cf1a321bc17485d388ed8f20d88d18a37331dd
            </p>
        </div>

        <div class="col-md-3" style="margin: 0 50px 0 25px">
            <p>
                <label for="gross_prizes">Premii Brute</label>
<<<<<<< HEAD
                <input id="gross_prizes" name="gross_prizes" type="number" value="" class="form-control" placeholder="premiile brute..." />
=======
                <input id="gross_prizes" name="gross_prizes" type="text" value="" class="form-control" placeholder="premiile brute..." />
>>>>>>> 55cf1a321bc17485d388ed8f20d88d18a37331dd
            </p>
        </div>

        <div class="col-md-3">
            <p>
                <label for="deductions">Retineri</label>
<<<<<<< HEAD
                <input id="deductions" name="deductions" type="number" value="" class="form-control" placeholder="retineri..." />
=======
                <input id="deductions" name="deductions" type="text" value="" class="form-control" placeholder="retineri..." />
>>>>>>> 55cf1a321bc17485d388ed8f20d88d18a37331dd
            </p>
        </div>
    </div>

    <br>

    <section id="modify-table" style="width: 80%; margin-left: 5%">
<<<<<<< HEAD
        <table id="employees" class="display" style="width:100%">
=======
        <table id="example" class="display" style="width:100%">
>>>>>>> 55cf1a321bc17485d388ed8f20d88d18a37331dd
            <thead>
                <tr>
                    <th class="th-sm">
                        Nume
                    </th>
                    <th class="th-sm">
                        Prenume
                    </th>
                    <th class="th-sm">
                        Salariu Baza
                    </th>
                    <th class="th-sm">
                        Spor
                    </th>
                    <th class="th-sm">
                        Premii Brute
                    </th>
                    <th class="th-sm">
                        Retineri
                    </th>
                    <th class="th-sm">
                        Actualizare
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Surname</td>
                        <td>@employee.Lastname</td>
                        <td>@employee.Base_Salary</td>
                        <td>@employee.Increase</td>
                        <td>@employee.Gross_Prizes</td>
                        <td>@employee.Deductions</td>
                        <td>
                            <div class="update-btn">
<<<<<<< HEAD
                                <a class="button-search" id ="@employee.Id " value="@employee.Id" href="@Url.Action("UpdateEmployee", "Home")">Actualizeaza</a>
=======
                                <a class="button-search" value="@employee.Id" href="@Url.Action("UpdateEmployee", "Home")">Actualizeaza</a>
>>>>>>> 55cf1a321bc17485d388ed8f20d88d18a37331dd
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Lastname
                    </th>
                    <th>
                        Base_Salary
                    </th>
                    <th>
                        Increase
                    </th>
                    <th>
                        Gross Prizes
                    </th>
                    <th>
                        Deductions
                    </th>
                </tr>
            </tfoot>
        </table>
    </section>
</div>
<<<<<<< HEAD
<br /><br /><br /><br />

<script>
    $(document).ready(function () {
        $('#employees').DataTable({
=======

<script>
    $(document).ready(function () {
        $('#example').DataTable({
>>>>>>> 55cf1a321bc17485d388ed8f20d88d18a37331dd
            scrollY: '50vh',
            scrollCollapse: true,
            paging: false
        });
    });


    $('#main-cntn').on('click', '.update-btn a', function () {
<<<<<<< HEAD
        var id = this.id;
=======
        var id = $(this).val();
        console.log(id);
>>>>>>> 55cf1a321bc17485d388ed8f20d88d18a37331dd
        var lastname = $("#lastname").val();
        var surname = $("#surname").val();
        var base_salary = $("#base_salary").val();
        var increase = $("#increase").val();
        var gross_prizes = $("#gross_prizes").val();
        var deductions = $("#deductions").val();

        var url = $(this).attr('href');
        $('#main-cntn').load(url, { id: id,
            lastname: lastname, surname: surname,
            base_salary: base_salary, increase: increase,
            gross_prizes: gross_prizes, deductions: deductions
        });
        return false;
    })
</script>

<style>
    #modify-table .dataTables_filter {
        float: left;
        text-align: left;
    }

    .button-search {
        display: block;
        max-width: 300px;
        height: 38px;
        background: #0074d9;
        padding-top: 5px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        line-height: 25px;
    }


    .text-center {
        margin-bottom: 50px;
        margin-right: 130px;
    }



    .col-md-4 {
        align-self: center;
    }

        .col-md-4 p {
            max-width: 350px;
        }

    #content-table {
        border: 1px solid;
    }
<<<<<<< HEAD
  
=======

>>>>>>> 55cf1a321bc17485d388ed8f20d88d18a37331dd
        #content-table th {
            min-width: 100px;
            text-align: center;
        }

        #content-table thead {
            border-bottom: 1px solid;
        }

    .table-row {
        padding-top: 25px;
    }
</style>
